body {
    font-size: 16px;
    font-family:'Helvetica';
    text-align:left;
    float: left;

  }

  /* general */

  .container {
    float:left;
    text-align:left;
    line-height:22px;
    padding:5px;
    background-color:rgba(241, 147, 205, 0.924);
	  width: 100%;
	  margin: 0;
  }
  #container2 {
    float:left;
    line-height:10px;
    text-align:left;
    background-color:rgb(154, 154, 204);
    width:30%;
    height:auto;    
	  margin: 0;
  }
  

  
  /* main */
  

  
	
	@media (min-width: 768px) {
		.container { max-width: 650px; }
	}
	
	@media (min-width: 992px) {
		.container { max-width: 750px; }
    }
    #red,#blue,#yellow,#green {
        float: left;
    }
