body {
    font-size: 16px;
    font-family:'Lucida';
    text-align:left;
    width: 100%;

  }
  h1 {
    font-family:'Times New Roman';
    text-align:left;
    background: palegreen;
    width:350px;
    height:25px;
    padding:2%;
    margin:3px;


  }
.crystals{
  float:left;
}

  /* general */

  .container {

    text-align:left;
    line-height:22px;
    background-color:rgba(241, 147, 205, 0.924);
    width: 100%;
    padding:3px;
	  margin: 3px;
  }
  #container2 {
    line-height:10px;
    text-align:left;
    background-color:rgb(154, 154, 204);
    padding:3px;
    width:325px;    
	  margin: 3px;
  }
  

  
  /* main */
    
	
	@media (min-width: 768px) {
		.container { max-width: 650px; }
	}
	
	@media (min-width: 992px) {
		.container { max-width: 750px; }
    }
    #red,#blue,#yellow,#green {
        float: left;
    }
