body {
    text:orange;
    font-size: 18px;
    font-family:'Helvetica';
    text-align:left;
    float: left;

  }
  

  /* general */

  .container {
    text-align:left;
    text: white;
    padding:5px;
    background-color:rgb(122, 122, 148);
	  width: 100%;
	  margin: auto;
  }
  #container2 {
    float:left;
    text-align:left;
    text: white;
    padding:5px;
    background-color:rgb(154, 154, 204);
	  width: 50%;
	  margin: auto;
  }
  

  
  /* main */
  

  
	
	@media (min-width: 768px) {
		.container { max-width: 650px; }
	}
	
	@media (min-width: 992px) {
		.container { max-width: 750px; }
    }
    #red,#blue,#yellow,#green {
        float: left;
    }
